<app-top-bar title="Shopping List" [backLink]="['/recipes']"></app-top-bar>

<div class="card-surface shopping-list-body">
  <app-shopping-edit></app-shopping-edit>

  <div class="ingredient-list">
    <a
      class="ingredient-row"
      *ngFor="let ingredient of ingredients; let i = index"
      (click)="onEditItem(i)"
    >
      <span>{{ ingredient.name }}</span>
      <span class="text-muted">{{ ingredient.amount }}</span>
    </a>
    <p class="text-muted empty-state" *ngIf="!ingredients.length">Your shopping list is empty.</p>
  </div>
</div>
